# Gitignore policy: Each repository has a more or less comprehensive
# .gitignore; developers shouldn't need any global gitignore.
#
# This file uses relevant shippets from <https://github.com/github/gitignore>.
# Leave these unmodified. Custom stuff and overrides go at the end.


### Global/Emacs.gitignore (0aeefb48c0) ###

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


### Global/OSX.gitignore (0aeefb48c0) ###

.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### Global/vim.gitignore (0aeefb48c0) ###

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Custom ###

*.py[cod]

doc/
doc-src/_build
doc-src/*.help

bin/a.out
bin/ch-activate
bin/ch-activate-PWN_ME_NOW
bin/ch-activate-ns
bin/ch-activate-ns-PWN_ME_NOW
