# Derived files (no Autotools stuff).
*.o
a.out
/bin/ch-checkns
/bin/ch-image
/bin/ch-run
/bin/ch-run-oci
/examples/copy/dirCa/symlink-to-dirCb
/examples/copy/dirD/symlink-to-fileDa
/examples/copy/dirEa/symlink-to-dirEb
/examples/copy/dirG/s_dir2
/examples/copy/dirG/s_dir3
/examples/copy/dirG/s_file2
/examples/copy/dirG/s_file3
/examples/copy/symlink-to-fileA
/examples/copy/symlink-to-fileB-A
/examples/copy/symlink-to-fileB-B
/doc/_deps.rst
/doc/doctrees/
/doc/html/
/doc/man/*.[17]
/lib/contributors.bash
/lib/lark
/lib/lark-stubs
/lib/lark*.dist-info
/lib/version.py
/lib/version.sh
/lib/version.txt
/test/61_force-auto.bats
/test/docs-sane
/test/fixtures/symlink-to-tmp
/test/force-auto
/test/make-perms-test
/test/sotest/*.so*
/test/sotest/sotest
/test/sotest/bin/
/test/sotest/lib/

# perhaps-unpacked tarballs at root of working directory
/charliecloud-*.tar*
/charliecloud-*/

# debugging crap
/build-cache.gv
/build-cache.pdf

# OS X crap
._*
.DS_Store
.fuse_*

# Python crap
__pycache__

# Vim crap.
*.swp

# Autotools crap. Coordinate with autogen.sh. Note negations.
Makefile
!/examples/*/Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/bin/.deps/
/bin/config.h
/bin/config.h.in
/bin/stamp-h1
/build-aux/
/config.log
/config.status
/configure
