# This file contains the list of required python packages for the project in
# requirements format.

# Users can install all our python dependencies simply by running:
# > pip install -r requirements.txt

lark-parser
wheel
requests>=2.6.0
